# Application
APP_PORT=8080
APP_ENV=development
APP_LOG_LEVEL=DEBUG
APP_MODE=monolith
# Service ports (dipakai saat APP_MODE != monolith)
APP_PORT_ADM=8081
APP_PORT_PLAN=8082
APP_PORT_RLS=8083
APP_PORT_BILL=8084
APP_PORT_MREP=8085

# Database (Common)
DB_HOST=10.95.17.149
DB_PORT=5432
DB_NAME=omniport
DB_SSLMODE=disable

# Module DB Credentials
DB_ADM_USER=omniadm
DB_ADM_PASSWORD=0mn14dm
DB_ADM_SCHEMA=adm

DB_PLAN_USER=omniplan
DB_PLAN_PASSWORD=0mn1pl4n
DB_PLAN_SCHEMA=plan

DB_RLS_USER=omnireal
DB_RLS_PASSWORD=0mn1rls
DB_RLS_SCHEMA=rls

DB_BILL_USER=omnibill
DB_BILL_PASSWORD=0mn1b11l
DB_BILL_SCHEMA=bill

DB_MREP_USER=omnimrep
DB_MREP_PASSWORD=0mn1mr3p
DB_MREP_SCHEMA=mrep

# JWT
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRY_HOURS=24

# AWS / S3 Configuration
AWS_ACCESS_KEY_ID=FD5AFD3AAF2D9213AFCE
AWS_SECRET_ACCESS_KEY=Xl5a8mOMVrJRKVs1B0EoqaMrvSYa6Y9T8qXSdJdX
AWS_REGION=us-east-1
AWS_BUCKET_NAME=omniport
AWS_S3_ENDPOINT=https://s3.filebase.io